<!DOCTYPE HTML>
<html>
<head>
    <title>스프링부트 오목</title>
    <meta charset="utf-8">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&display=swap" rel="stylesheet">
    <link href="/styles/style.css" rel="stylesheet" type="text/css">
</head>
<body>